{
    "google_api_key": "AIzaSyDQvPgAvLz-uOAHsABdoUl2ARJU0gpuThA",
    "dooray_webhook_url_postfix_for_team": "1387699619080978080/2957399987924651354/wUnX5Qv2QJKAjDpR-AsuUA",
    "dooray_webhook_url_postfix_for_test": "1387695619080978080/2957399939660991202/PUbksDuGA4KHlyRAIXAOSA",
    "dooray_bot_name": "음악 추천",
    "dooray_bot_icon_image_url": "https://www.flaticon.com/premium-icon/icons/svg/1895/1895657.png"
}
